/* You can add global styles to this file, and also import other style files */
/* Global Reset */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure the content spans the full width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding/borders in width/height */
  }
  